.side-bar {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: space-around; */
  padding: 10px 25px;
  border: 1px solid rgb(197, 197, 197);
  gap: 40px;
  background-color: var(--eleman-color);
  overflow-y: auto;
  direction: ltr;
}
.side-bar-logo {
  direction: ltr;
  /* height: 15%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}
.logo {
  font-size: 1.2rem;
}
.links {
  width: 100%;
  /* height: 65%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
  display: flex;
  gap: 7px;
  text-decoration: none;
  width: 100%;
  height: 40px;
  /* background-color: red; */
  display: dlex;
  align-items: center;
  padding: 0 10px;
  border-radius: 15px;
  transition: all 0.25s ease;
  color: var(--text-color);
  margin-top: 10px;
}
.link:hover {
  background-color: var(--hover-color);
  color: black;
}
.active {
  display: flex;
  font-size: 17px;
  gap: 7px;
  text-decoration: none;
  width: 100%;
  height: 40px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 15px;
  transition: all 0.25s ease;
  background-color: var(--active-link);
  color: #fff;
}
.active:hover {
  opacity: 0.7;
}
.login {
  width: 100%;
  /* height: 25%; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 10px;
}
.login-title {
  color: var(--main-white-text-color);
}
@media (max-width: 1140px) {
  .side-bar{
    display: none;
  }
}
