.card{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.card-icon{
    width: 100%;
    height: 70%;
    /* background-color: red; */
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.icon{
    width: 15%;
    height: auto;
    background-color: var(--active-link);
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}
.card-data{
    width: 100%;
    height: 30%;
}