.users-page {
  width: 100%;
  height: 100vh;
  background: var(--body-color);
  display: flex;
  gap: 10px;
}
.users-page-side-bar {
  width: 18%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.users-page-content {
  width: 82%;
  min-height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-y: auto;
}
header {
  width: 100%;
  height: 60px;
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0; */
}
.show-users-info {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
.user-table {
  width: 100%;
  height: 500px;
  /* background-color: #000; */
  border-radius: 15px;
  border: 1px solid rgb(220, 220, 220);
  background-color: var(--eleman-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.comment-table {
  width: 100%;
  height: 500px;
  /* background-color: red; */
  border-radius: 15px;
  border: 1px solid rgb(220, 220, 220);
  background-color: var(--eleman-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-title {
  width: 95%;
  height: 15%;
  border-radius: 15px;
  background-color: var(--active-link);
  transform: translateY(-35%);
  color: var(--active-text);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 20px;
  /* box-shadow: 5px 5px 5px var(--active-link); */
  /* transform: translate(2% , -20%); */
}
.user-info {
  width: 100%;
  height: 85%;
  /* background-color: red; */
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 0px 5px;
}
.data{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid gray;
  border-radius: 15px;
  transition: all 0.25s;
}
.edit{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.edit-btn, .remove-btn{
  border: none;
  background-color: inherit;
  transition: all 0.25s ease;
}
.edit-btn:hover{
  color: green;
  transform: scale(1.55);
}
.remove-btn:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.55);
}
.comments{
  width: 100%;
  height: 60px;
  border-radius: 15px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 8px ;
}
.comments-date{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



@media (max-width: 1140px) {
  .users-page-side-bar {
    display: none;
  }
  .users-page-content {
    width: 100%;
  }
}
