.header {
  width: 80%;
  height: inherit;
  /* background-color: red; */
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 100;
  border: 1px solid rgb(220 , 200 , 220);
}

.header-Breadcrumb {
  width: 50%;
  height: 100%;
}
.header-Breadcrumb ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-Breadcrumb ul li {
  list-style: none;
}
.header-Breadcrumb ul li a {
  color: var(--text-color);
}
.header-Breadcrumb ul li:first-child {
  color: var(--secondry-color);
}
.header-access {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.search-input {
  width: 40%;
  box-shadow: none;
  background-color: var(--eleman-color);
  /* display: none; */
}
.search-input:focus {
  box-shadow: none;
}
.list-btn {
  display: none;
  outline-color: var(--text-color);
}
.set-theme-btn,
.list-btn {
  border: none;
  background-color: inherit;
  color: var(--text-color);
  aspect-ratio: 1/ 1;
  border-radius: 50%;
}
.set-theme-btn:hover,
.list-btn:hover {
  background-color: inherit;
  color: var(--text-color);
}
.search-btn:focus {
  background-color: inherit;
  color: var(--text-color);
}

/* Backdrop برای overlay */
.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar-backdrop.show {
  opacity: 1;
  visibility: visible;
}

.resposive-side-bar {
  position: fixed;
  top: 0;
  right: 0px;
  width: 30%;
  height: 100vh;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateX(15%);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* background-color: red; */
}
.responsive-slide-bar-child {
  width: 100%;
  height: 100%;
  background-color: var(--eleman-color);
  border-radius: 15px;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  direction: ltr;
  overflow-y: auto;
}
.header-links {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  gap: 15px;
}
.header-links h4 {
  margin-top: 10px;
}

.header-link,
.active-link {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 15px;
  text-decoration: none;
}

.header-link {
  color: var(--text-color);
}
.header-link:hover {
  background-color: var(--hover-color);
  color: #000;
}
.active-link {
  background-color: var(--active-link);
  color: var(--active-text);
}
.active-link:hover {
  opacity: 0.7;
}
.show-Side-bar {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/* responsive */
@media (min-width: 1040px) {
  .resposive-side-bar {
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 576px) {
  .resposive-side-bar {
    width: 50%;
  }
  .header-Breadcrumb ul li {
    font-size: 10px;
  }

  .theme-btn {
    font-size: 10px;
  }

  .search-input {
    display: none;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 1140px) {
  .list-btn {
    display: block;
  }
}

@media (max-width: 1040px) {
  .header{
    width: 95%;
  }
}
