.home {
  width: inherit;
  height: inherit;
  /* background-color: red; */
  display: flex;
  /* gap: 10px; */
  z-index: -2;
}
.home-side-bar {
  width: 18%;
  height: 100%;
  /* background-color: blue; */
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.home-content {
  width: 82%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  overflow-y: auto;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 60px;
  /* background-color: red; */
}
.cards {
  width: 100%;
  height: 150px;
  /* background-color: red; */
  margin-top: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 10px;
}

@media (max-width: 1140px) {
  .home-side-bar {
    display: none;
  }
  .home-content {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
