.home {
  width: inherit;
  height: inherit;
  /* background-color: red; */
  display: flex;
  /* gap: 10px; */
}
.home-side-bar {
  width: 18%;
  height: 100%;
  /* background-color: blue; */
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.home-content {
  width: 82%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  overflow-y: scroll;
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 60px;
  /* background-color: red; */
}

@media (max-width: 1140px) {
  .home-side-bar {
    display: none;
  }
  .home-content {
    width: 100%;
    height: 100%;
  }
}
