@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root{
  --black-color: #121313;
  --body-color: #fff;
  --card-color: #e5e5e5;
  --main-white-text-color: #4b4e4f;
  --active-text: #fff;
  --hover-color: #dddddd;
}
*{
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  background-color: var(--body-color);
  width: 100%;
  height: 100vh;
}