@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root{
  --active-link: #000000;
  --hover-color: #dcdddd;
  --body-color: #ffffff;
  --eleman-color: #efefef;
  --text-color: #000000;
  --secondry-color: #646464;
  --active-text: #fff;
}
*{
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
.App{
  background-color: var(--body-color);
  width: 100%;
  height: 100vh;
}