.profile-pages {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 10px;
  /* padding: 10px; */
  background-color: var(--body-color);
  color: var(--text-color);
}
.profile-page-side-bar {
  width: 18%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.profile-page-content {
  width: 82%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-data {
  width: 100%;
  min-height: 500px;
  /* background-color: red; */
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("https://wallpapercave.com/wp/wp15941043.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
.admin-data-child{
  width: 95%;
  height: 100%;
  transform: translateY(+60%);
  background-color: var(--eleman-color);
  color: var(--text-color);
  border: 1px solid rgb(220, 220, 220);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.admin-data-header{
  width: 100%;
  height: 20%;
  display: flex;
  border-bottom: 1px solid rgb(194, 194, 194);
  align-items: center;
  justify-content: space-between;
}
.header-image{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0px 30px;
}
.user-image-profile{
  width: 85px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid rgb(194, 194, 194);
}
.user-information{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
}
.admin-data-body{
  width: 100%;
  height: 80%;
  /* background-color: rgb(159, 114, 114); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  gap: 10px;
  padding: 0px 10px;
}
.right-body{
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.left-body{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1140px) {
  .profile-page-content {
    width: 100%;
    /* background-color: red; */
  }
  .profile-page-side-bar {
    display: none;
  }
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
  }
}
@media (max-width: 570px) {
  .admin-data-body{
    grid-template-columns: 1fr;
    gap: 0;
  }
}